@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    text-transform: capitalize;
    user-select: none;
    z-index: 1;
}

:root {
    --cor1: #8601CE;
    --cor2: #BCABFB;
    --cor3: black;
    --cor4: white;
}

html, body {
    background: radial-gradient(ellipse at bottom, var(--cor1) 0%, var(--cor3) 80%);
    overflow-x: hidden;
}

.descrição {
    margin: 0 50px;
    text-align: center;
    margin-top: 250px
}

.descrição h3 {
     font-family: "Montserrat", "sans-serif";
     font-size: 1.5rem;
     margin: 10px auto;
}

p {
    font-family: "Montserrat", "sans-serif";
    font-weight: 600;
    line-height: 25px;
    color: var(--cor4);
    user-select: none;
}

h1 {
    font-family: "Dancing Script", cursive;
    font-style: normal;
    font-size: 2.9rem;
    text-align: center;
    margin: 20px 0;
    color: var(--cor4);
}

h2 {
    font-family: "Montserrat", "sans-serif";
    text-align: center;
    margin-bottom: 10px;
    color: var(--cor4);
}

.redes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 10px;
}

.social {
    border: 2px solid var(--cor2);
    border-radius: 10px;
    width: 70px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    box-shadow: inset 0 0 10px black,
    0 0 8px var(--cor2);
}

.social svg {
    width: 50px;
    height: 50px;
    fill: var(--cor4);
}

.social:hover, .social svg:hover {

    fill: var(--cor2);
    transition: 0.2s;    
}

.loja {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
}

.catalogo1, .catalogo2, .catalogo3 {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-right: 5px;
    font-family: "Montserrat", "sans-serif";
    width: 300px;
    height: 40px;
    border: 2px solid var(--cor2);
    box-shadow: inset 0 0 10px black,
    0 0 5px var(--cor2);
    cursor: pointer;
    border-radius: 10px;
    position: relative;
}

.catalogo1, .catalogo3 {
    margin-right: 100px;
}

.catalogo2 {
    margin-left: 100px;
}

.loja svg {
    position: absolute;
    left: 0px;
    width: 30px;
    height: 30px;
    margin: 3px;
    fill: var(--cor4);
}

.catalogo1:hover, .catalogo2:hover, .catalogo3:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.colecionaveis {
    display: flex;
    width: 100vw;
    overflow-y: hidden;
}

.colec img {
    width: 350px;
    padding: 0 5px;
    height: 400px;
    margin: 10px auto;
    border-radius: 15px;
    box-shadow: 0px 10px 10px rgba(0, 0, 0, 0.281);
    
}


