@charset "UTF-8";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
}

:root {
    --cor1: #65136E;
    --cor2: #C100D6;
}

body {
    background-color: var(--cor1);
}

.logo {
    height: 150px;
    width: 150px;
    margin: 30px auto;
    border-radius: 50%;
    border: 5px solid var(--cor2);
}

.descrição h3 {
    font-family: "Montserrat",;
}